# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except test main modules

!identity/
!identity/**/
!identity/**/*.py

# Except test test modules

!tests/
!tests/**/
!tests/**/*.py

# Except root files

!helper.sh
!LICENSE
!main.py
!README.md
!CONTRIBUTING.md
!requirements.txt
!pytest.ini